/* cairo font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Marhey:wght@600&display=swap");
/* global rules */
html {
  scroll-behavior: smooth;
}
:root {
  --main-transition: 0.3s;
  --main-color: rgba(194, 181, 63, 0.85); /*used in hover and buttons*/
  --main-padding: 80px;
}
body {
  font-family: "Cairo", sans-serif;
  /* background-color: #f1f1f1; */
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
a,
span {
  display: inline-block;
}
a:hover {
  color: black;
}
/* global rules */
/* --------------------------------------------- */
/* header */
header {
  z-index: 99999999;
  transition: var(--main-transition);
  background-color: rgb(73, 73, 73) !important;
}
header .logo {
  font-size: 20px;
}
header .logo a {
  color: white;
}
.nav-img img {
  width: 40px !important;
  height: 35px !important;
}
.nav-links .basket {
  transition: var(--main-transition);
}
.nav-links .basket:hover {
  background-color: var(--main-color);
}
.nav-links .nav-img,
.nav-links .msg-parent,
.nav-links .basket {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.nav-links .nav-img,
.nav-links .msg-parent {
  cursor: pointer;
}
.nav-links a,
.nav-links div {
  transition: var(--main-transition);
}
.nav-links .nav-img:hover {
  background-color: var(--main-color);
}
.nav-links div.msg {
  color: black;
  width: 400px;
  left: 0;
  top: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .nav-links div.msg {
    width: 300px;
    left: -20px;
  }
  .nav-img img {
    width: 50px !important;
    height: 45px !important;
  }
}
.nav-links a div.msg p {
  font-size: 14px;
}
.nav-img .log-out {
  width: 150px;
  left: 0;
  top: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.msg-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .nav-links a {
    width: 60px;
    height: 60px;
  }
  .nav-links a div.msg {
    width: 300px;
    left: -50px;
    top: 100%;
  }
  .nav-links a div.msg p {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  header .logo {
    font-size: 16px;
  }
  header .login a {
    font-size: 14px;
  }
}
/* header */
/* start services section */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: white;
}
.services button {
  border: 0;
  background-color: var(--main-color);
  color: white;
}
.card-btn {
  border: 1px solid var(--main-color);
  transition: var(--main-transition);
  width: 100%;
}
.card-btn:hover {
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: white;
}
/* end services section */
/* start footer */
footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
}
.centered {
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .centered {
    font-size: 30px;
  }
}
.copy-rights {
  font-size: 14px;
  margin-top: 10px;
}
footer span {
  color: var(--main-color);
}
/* end footer */
